JWT_ACCESS_LIFETIME_SECONDS=900
JWT_REFRESH_LIFETIME_SECONDS=1209600

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:8000/api/v1/users/oauth/google/callback
# Alias also supported:
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GOOGLE_REDIRECT_URI=http://localhost:8000/api/v1/users/oauth/google/callback

KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
KAKAO_OAUTH_REDIRECT_URI=http://localhost:8000/api/v1/users/oauth/kakao/callback

SESSION_COOKIE_SAMESITE=Lax
SESSION_COOKIE_SECURE=false
OAUTH_LOG_LEVEL=INFO
